.result {
  margin-top: 50px;
  text-align: center;
  position: relative; /* necesario para posicionar el botón dentro */
}

.result h2 {
  font-size: 2rem;
  color: #ffd700;
}

.result p {
  font-size: 1.5rem;
  margin-top: 20px;
}

/* igual que Tournament */
.battle-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
  margin-top: 30px;
}

.battle-item {
  background: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}

.battle-item h3 {
  background: #ff4757;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  margin: 0;
}

.battle-item button {
  background: #2ed573;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 1.1rem;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.battle-item button:hover {
  background: #1eae60;
}

/* Bloques sin vídeo con altura fija */
.empty-slot {
  width: 100%;
  height: 330px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #ccc;
  font-style: italic;
}

/* Botón de inicio arriba a la izquierda */
.home-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.home-btn img {
  width: 40px;
  height: 40px;
}
