.video-container {
  width: 100%;
  height: 250px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}
